<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Flashr - Flashcard App (Team 5 Project)</title>
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>