<nav class="navbar">
  <ul class="navbar-nav">
    <li><a href="/" class="nav-link">Home</a></li>
    {{#if req.session.user }}
    <li><a href="/dashboard" class="nav-link">Dashboard</a></li>
    <li><a href="/logout" class="nav-link">Log out</a></li>
    {{/if}}
  </ul>
</nav>