{{> message }}
<div class="auth-page">
  <div class="auth-card">
    <div class="auth-content">
      <img src="/images/flashy_mascot.png" alt="Flashr Mascot" class="mascot-img">
      
      <div class="auth-text">
        <div class="auth-text-row">
          <h1 class="home-title">Welcome to Flashr!</h1>
          <p class="home-subtitle">Make custom flashcards to study!</p>
          <p class="home-description">
            Getting started is easy and fun! First, create a new flashcard deck for any topic you like. Then, start building your deck by adding new cards, editing them as you go, or removing the ones you don’t need. When you're ready, jump into study mode and start mastering your material!
          </p>
        </div>
      </div>

    </div>

    <div class="text-center button-group">
      <a href="/login" class="btn btn-secondary">Sign in</a>
      <a href="/register" class="btn btn-primary">Register</a>
    </div>
  </div>
</div>
