{{> message }}
<div class="auth-page">
    <div class="auth-card">
        <h1>Welcome to Flashr!</h1>
        <p>Make custom flashcards to study!</p>
        <p>With this app you can make your own custom decks of flashcards! You can create multiple decks, add new cards, and edit existing cards. Then, go into study mode and start studying!</p>
        <div class="text-center">
            <a href="/login" class="btn btn-secondary">Sign in</a>
            <a href="/register" class="btn btn-primary">Register</a>
        </div>
    </div>
</div>