{{> message }}
<div class="container">
    <div class="text-center">
        <h1>Logged Out</h1>
        <p>{{message}}</p>
        <a href="/" class="btn btn-primary">Return to Home</a>
    </div>
</div>